<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<array>
		<string>376</string>
	</array>
	<key>AE</key>
	<array>
		<string>971</string>
	</array>
	<key>AF</key>
	<array>
		<string>93</string>
	</array>
	<key>AG</key>
	<array>
		<string>1268</string>
	</array>
	<key>AI</key>
	<array>
		<string>1264</string>
	</array>
	<key>AL</key>
	<array>
		<string>355</string>
	</array>
	<key>AN</key>
	<array>
		<string>599</string>
	</array>
	<key>AM</key>
	<array>
		<string>374</string>
	</array>
	<key>AO</key>
	<array>
		<string>244</string>
	</array>
	<key>AQ</key>
	<array>
		<string>64</string>
	</array>
	<key>AR</key>
	<array>
		<string>54</string>
	</array>
	<key>AS</key>
	<array>
		<string>1684</string>
	</array>
	<key>AT</key>
	<array>
		<string>43</string>
	</array>
	<key>AU</key>
	<array>
		<string>61</string>
	</array>
	<key>AW</key>
	<array>
		<string>297</string>
	</array>
	<key>AX</key>
	<array>
		<string>358</string>
	</array>
	<key>AZ</key>
	<array>
		<string>994</string>
	</array>
	<key>BA</key>
	<array>
		<string>387</string>
	</array>
	<key>BB</key>
	<array>
		<string>1246</string>
	</array>
	<key>BD</key>
	<array>
		<string>880</string>
	</array>
	<key>BE</key>
	<array>
		<string>32</string>
	</array>
	<key>BF</key>
	<array>
		<string>226</string>
	</array>
	<key>BG</key>
	<array>
		<string>359</string>
	</array>
	<key>BH</key>
	<array>
		<string>973</string>
	</array>
	<key>BI</key>
	<array>
		<string>257</string>
	</array>
	<key>BJ</key>
	<array>
		<string>229</string>
	</array>
	<key>BL</key>
	<array>
		<string>590</string>
	</array>
	<key>BM</key>
	<array>
		<string>1441</string>
	</array>
	<key>BN</key>
	<array>
		<string>673</string>
	</array>
	<key>BO</key>
	<array>
		<string>591</string>
	</array>
	<key>BQ</key>
	<array>
		<string>5997</string>
	</array>
	<key>BR</key>
	<array>
		<string>55</string>
	</array>
	<key>BS</key>
	<array>
		<string>1242</string>
	</array>
	<key>BT</key>
	<array>
		<string>975</string>
	</array>
	<key>BV</key>
	<array>
		<string></string>
	</array>
	<key>BW</key>
	<array>
		<string>267</string>
	</array>
	<key>BY</key>
	<array>
		<string>375</string>
	</array>
	<key>BZ</key>
	<array>
		<string>501</string>
	</array>
	<key>CA</key>
	<array>
		<string>1</string>
	</array>
	<key>CC</key>
	<array>
		<string>61</string>
	</array>
	<key>CD</key>
	<array>
		<string>243</string>
	</array>
	<key>CF</key>
	<array>
		<string>236</string>
	</array>
	<key>CG</key>
	<array>
		<string>242</string>
	</array>
	<key>CH</key>
	<array>
		<string>41</string>
	</array>
	<key>CI</key>
	<array>
		<string>225</string>
	</array>
	<key>CK</key>
	<array>
		<string>682</string>
	</array>
	<key>CL</key>
	<array>
		<string>56</string>
	</array>
	<key>CM</key>
	<array>
		<string>237</string>
	</array>
	<key>CN</key>
	<array>
		<string>86</string>
	</array>
	<key>CO</key>
	<array>
		<string>57</string>
	</array>
	<key>CR</key>
	<array>
		<string>506</string>
	</array>
	<key>CU</key>
	<array>
		<string>53</string>
	</array>
	<key>CV</key>
	<array>
		<string>238</string>
	</array>
	<key>CW</key>
	<array>
		<string>5999</string>
	</array>
	<key>CX</key>
	<array>
		<string>61</string>
	</array>
	<key>CY</key>
	<array>
		<string>357</string>
	</array>
	<key>CZ</key>
	<array>
		<string>420</string>
	</array>
	<key>DE</key>
	<array>
		<string>49</string>
	</array>
	<key>DJ</key>
	<array>
		<string>253</string>
	</array>
	<key>DK</key>
	<array>
		<string>45</string>
	</array>
	<key>DM</key>
	<array>
		<string>1767</string>
	</array>
	<key>DO</key>
	<array>
		<string>1809</string>
		<string>1829</string>
		<string>1849</string>
	</array>
	<key>DZ</key>
	<array>
		<string>213</string>
	</array>
	<key>EC</key>
	<array>
		<string>593</string>
	</array>
	<key>EE</key>
	<array>
		<string>372</string>
	</array>
	<key>EG</key>
	<array>
		<string>20</string>
	</array>
	<key>EH</key>
	<array>
		<string>212</string>
	</array>
	<key>ER</key>
	<array>
		<string>291</string>
	</array>
	<key>ES</key>
	<array>
		<string>34</string>
	</array>
	<key>ET</key>
	<array>
		<string>251</string>
	</array>
	<key>FI</key>
	<array>
		<string>358</string>
	</array>
	<key>FJ</key>
	<array>
		<string>679</string>
	</array>
	<key>FK</key>
	<array>
		<string>500</string>
	</array>
	<key>FM</key>
	<array>
		<string>691</string>
	</array>
	<key>FO</key>
	<array>
		<string>298</string>
	</array>
	<key>FR</key>
	<array>
		<string>33</string>
	</array>
	<key>GA</key>
	<array>
		<string>241</string>
	</array>
	<key>GB</key>
	<array>
		<string>44</string>
	</array>
	<key>GD</key>
	<array>
		<string>1473</string>
	</array>
	<key>GE</key>
	<array>
		<string>995</string>
	</array>
	<key>GF</key>
	<array>
		<string>594</string>
	</array>
	<key>GG</key>
	<array>
		<string>44</string>
	</array>
	<key>GH</key>
	<array>
		<string>233</string>
	</array>
	<key>GI</key>
	<array>
		<string>350</string>
	</array>
	<key>GL</key>
	<array>
		<string>299</string>
	</array>
	<key>GM</key>
	<array>
		<string>220</string>
	</array>
	<key>GN</key>
	<array>
		<string>224</string>
	</array>
	<key>GP</key>
	<array>
		<string>590</string>
	</array>
	<key>GQ</key>
	<array>
		<string>240</string>
	</array>
	<key>GR</key>
	<array>
		<string>30</string>
	</array>
	<key>GS</key>
	<array>
		<string>500</string>
	</array>
	<key>GT</key>
	<array>
		<string>502</string>
	</array>
	<key>GU</key>
	<array>
		<string>1671</string>
	</array>
	<key>GW</key>
	<array>
		<string>245</string>
	</array>
	<key>GY</key>
	<array>
		<string>592</string>
	</array>
	<key>HK</key>
	<array>
		<string>852</string>
	</array>
	<key>HM</key>
	<array>
		<string>504</string>
	</array>
	<key>HN</key>
	<array>
		<string>504</string>
	</array>
	<key>HR</key>
	<array>
		<string>385</string>
	</array>
	<key>HT</key>
	<array>
		<string>509</string>
	</array>
	<key>HU</key>
	<array>
		<string>36</string>
	</array>
	<key>ID</key>
	<array>
		<string>62</string>
	</array>
	<key>IE</key>
	<array>
		<string>353</string>
	</array>
	<key>IL</key>
	<array>
		<string>972</string>
	</array>
	<key>IM</key>
	<array>
		<string>44</string>
	</array>
	<key>IN</key>
	<array>
		<string>91</string>
	</array>
	<key>IO</key>
	<array>
		<string>246</string>
	</array>
	<key>IQ</key>
	<array>
		<string>964</string>
	</array>
	<key>IR</key>
	<array>
		<string>98</string>
	</array>
	<key>IS</key>
	<array>
		<string>354</string>
	</array>
	<key>IT</key>
	<array>
		<string>39</string>
	</array>
	<key>JE</key>
	<array>
		<string>44</string>
	</array>
	<key>JM</key>
	<array>
		<string>1876</string>
	</array>
	<key>JO</key>
	<array>
		<string>962</string>
	</array>
	<key>JP</key>
	<array>
		<string>81</string>
	</array>
	<key>KE</key>
	<array>
		<string>254</string>
	</array>
	<key>KG</key>
	<array>
		<string>996</string>
	</array>
	<key>KH</key>
	<array>
		<string>855</string>
	</array>
	<key>KI</key>
	<array>
		<string>686</string>
	</array>
	<key>KM</key>
	<array>
		<string>269</string>
	</array>
	<key>KN</key>
	<array>
		<string>1869</string>
	</array>
	<key>KP</key>
	<array>
		<string>850</string>
	</array>
	<key>KR</key>
	<array>
		<string>82</string>
	</array>
	<key>KW</key>
	<array>
		<string>965</string>
	</array>
	<key>KY</key>
	<array>
		<string>1345</string>
	</array>
	<key>KZ</key>
	<array>
		<string>76</string>
		<string>77</string>
	</array>
	<key>LA</key>
	<array>
		<string>856</string>
	</array>
	<key>LB</key>
	<array>
		<string>961</string>
	</array>
	<key>LC</key>
	<array>
		<string>1758</string>
	</array>
	<key>LI</key>
	<array>
		<string>423</string>
	</array>
	<key>LK</key>
	<array>
		<string>94</string>
	</array>
	<key>LR</key>
	<array>
		<string>231</string>
	</array>
	<key>LS</key>
	<array>
		<string>266</string>
	</array>
	<key>LT</key>
	<array>
		<string>370</string>
	</array>
	<key>LU</key>
	<array>
		<string>352</string>
	</array>
	<key>LV</key>
	<array>
		<string>371</string>
	</array>
	<key>LY</key>
	<array>
		<string>218</string>
	</array>
	<key>MA</key>
	<array>
		<string>212</string>
	</array>
	<key>MC</key>
	<array>
		<string>377</string>
	</array>
	<key>MD</key>
	<array>
		<string>373</string>
	</array>
	<key>ME</key>
	<array>
		<string>382</string>
	</array>
	<key>MF</key>
	<array>
		<string>590</string>
	</array>
	<key>MG</key>
	<array>
		<string>261</string>
	</array>
	<key>MH</key>
	<array>
		<string>692</string>
	</array>
	<key>MK</key>
	<array>
		<string>389</string>
	</array>
	<key>ML</key>
	<array>
		<string>223</string>
	</array>
	<key>MM</key>
	<array>
		<string>95</string>
	</array>
	<key>MN</key>
	<array>
		<string>976</string>
	</array>
	<key>MO</key>
	<array>
		<string>853</string>
	</array>
	<key>MP</key>
	<array>
		<string>1670</string>
	</array>
	<key>MQ</key>
	<array>
		<string>596</string>
	</array>
	<key>MR</key>
	<array>
		<string>222</string>
	</array>
	<key>MS</key>
	<array>
		<string>1664</string>
	</array>
	<key>MT</key>
	<array>
		<string>356</string>
	</array>
	<key>MU</key>
	<array>
		<string>230</string>
	</array>
	<key>MV</key>
	<array>
		<string>960</string>
	</array>
	<key>MW</key>
	<array>
		<string>265</string>
	</array>
	<key>MX</key>
	<array>
		<string>52</string>
	</array>
	<key>MY</key>
	<array>
		<string>60</string>
	</array>
	<key>MZ</key>
	<array>
		<string>258</string>
	</array>
	<key>NA</key>
	<array>
		<string>264</string>
	</array>
	<key>NC</key>
	<array>
		<string>687</string>
	</array>
	<key>NE</key>
	<array>
		<string>227</string>
	</array>
	<key>NF</key>
	<array>
		<string>672</string>
	</array>
	<key>NG</key>
	<array>
		<string>234</string>
	</array>
	<key>NI</key>
	<array>
		<string>505</string>
	</array>
	<key>NL</key>
	<array>
		<string>31</string>
	</array>
	<key>NO</key>
	<array>
		<string>47</string>
	</array>
	<key>NP</key>
	<array>
		<string>977</string>
	</array>
	<key>NR</key>
	<array>
		<string>674</string>
	</array>
	<key>NU</key>
	<array>
		<string>683</string>
	</array>
	<key>NZ</key>
	<array>
		<string>64</string>
	</array>
	<key>OM</key>
	<array>
		<string>968</string>
	</array>
	<key>PA</key>
	<array>
		<string>507</string>
	</array>
	<key>PE</key>
	<array>
		<string>51</string>
	</array>
	<key>PF</key>
	<array>
		<string>689</string>
	</array>
	<key>PG</key>
	<array>
		<string>675</string>
	</array>
	<key>PH</key>
	<array>
		<string>63</string>
	</array>
	<key>PK</key>
	<array>
		<string>92</string>
	</array>
	<key>PL</key>
	<array>
		<string>48</string>
	</array>
	<key>PM</key>
	<array>
		<string>508</string>
	</array>
	<key>PN</key>
	<array>
		<string>64</string>
	</array>
	<key>PR</key>
	<array>
		<string>1787</string>
		<string>1939</string>
	</array>
	<key>PS</key>
	<array>
		<string>970</string>
	</array>
	<key>PT</key>
	<array>
		<string>351</string>
	</array>
	<key>PW</key>
	<array>
		<string>680</string>
	</array>
	<key>PY</key>
	<array>
		<string>595</string>
	</array>
	<key>QA</key>
	<array>
		<string>974</string>
	</array>
	<key>RE</key>
	<array>
		<string>262</string>
	</array>
	<key>RO</key>
	<array>
		<string>40</string>
	</array>
	<key>RS</key>
	<array>
		<string>381</string>
	</array>
	<key>RU</key>
	<array>
		<string>7</string>
	</array>
	<key>RW</key>
	<array>
		<string>250</string>
	</array>
	<key>SA</key>
	<array>
		<string>966</string>
	</array>
	<key>SB</key>
	<array>
		<string>677</string>
	</array>
	<key>SC</key>
	<array>
		<string>248</string>
	</array>
	<key>SD</key>
	<array>
		<string>249</string>
	</array>
	<key>SE</key>
	<array>
		<string>46</string>
	</array>
	<key>SG</key>
	<array>
		<string>65</string>
	</array>
	<key>SH</key>
	<array>
		<string>290</string>
	</array>
	<key>SI</key>
	<array>
		<string>386</string>
	</array>
	<key>SJ</key>
	<array>
		<string>4779</string>
	</array>
	<key>SK</key>
	<array>
		<string>421</string>
	</array>
	<key>SL</key>
	<array>
		<string>232</string>
	</array>
	<key>SM</key>
	<array>
		<string>378</string>
	</array>
	<key>SN</key>
	<array>
		<string>221</string>
	</array>
	<key>SO</key>
	<array>
		<string>252</string>
	</array>
	<key>SR</key>
	<array>
		<string>597</string>
	</array>
	<key>SS</key>
	<array>
		<string>211</string>
	</array>
	<key>ST</key>
	<array>
		<string>239</string>
	</array>
	<key>SV</key>
	<array>
		<string>503</string>
	</array>
	<key>SX</key>
	<array>
		<string>1721</string>
	</array>
	<key>SY</key>
	<array>
		<string>963</string>
	</array>
	<key>SZ</key>
	<array>
		<string>268</string>
	</array>
	<key>TC</key>
	<array>
		<string>1649</string>
	</array>
	<key>TD</key>
	<array>
		<string>235</string>
	</array>
	<key>TF</key>
	<array>
		<string>596</string>
	</array>
	<key>TG</key>
	<array>
		<string>228</string>
	</array>
	<key>TH</key>
	<array>
		<string>66</string>
	</array>
	<key>TJ</key>
	<array>
		<string>992</string>
	</array>
	<key>TK</key>
	<array>
		<string>690</string>
	</array>
	<key>TL</key>
	<array>
		<string>670</string>
	</array>
	<key>TM</key>
	<array>
		<string>993</string>
	</array>
	<key>TN</key>
	<array>
		<string>216</string>
	</array>
	<key>TO</key>
	<array>
		<string>676</string>
	</array>
	<key>TR</key>
	<array>
		<string>90</string>
	</array>
	<key>TT</key>
	<array>
		<string>1868</string>
	</array>
	<key>TV</key>
	<array>
		<string>688</string>
	</array>
	<key>TW</key>
	<array>
		<string>886</string>
	</array>
	<key>TZ</key>
	<array>
		<string>255</string>
	</array>
	<key>UA</key>
	<array>
		<string>380</string>
	</array>
	<key>UG</key>
	<array>
		<string>256</string>
	</array>
	<key>UM</key>
	<array>
		<string>1</string>
	</array>
	<key>US</key>
	<array>
		<string>1</string>
	</array>
	<key>UY</key>
	<array>
		<string>598</string>
	</array>
	<key>UZ</key>
	<array>
		<string>998</string>
	</array>
	<key>VA</key>
	<array>
		<string>39066</string>
		<string>379</string>
	</array>
	<key>VC</key>
	<array>
		<string>1784</string>
	</array>
	<key>VE</key>
	<array>
		<string>58</string>
	</array>
	<key>VG</key>
	<array>
		<string>1284</string>
	</array>
	<key>VI</key>
	<array>
		<string>1340</string>
	</array>
	<key>VN</key>
	<array>
		<string>84</string>
	</array>
	<key>VU</key>
	<array>
		<string>678</string>
	</array>
	<key>WF</key>
	<array>
		<string>681</string>
	</array>
	<key>WS</key>
	<array>
		<string>685</string>
	</array>
	<key>XK</key>
	<array>
		<string>377</string>
		<string>381</string>
		<string>386</string>
	</array>
	<key>YE</key>
	<array>
		<string>967</string>
	</array>
	<key>YT</key>
	<array>
		<string>262</string>
	</array>
	<key>ZA</key>
	<array>
		<string>27</string>
	</array>
	<key>ZM</key>
	<array>
		<string>260</string>
	</array>
	<key>ZW</key>
	<array>
		<string>263</string>
	</array>
</dict>
</plist>
